<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pengsou.ships.mapper.FfcShipCompanyMapper">

    <resultMap type="FfcShipCompany" id="FfcShipCompanyResult">
        <result property="id"    column="id"    />
        <result property="shipName"    column="ship_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFfcShipCompanyVo">
        select id, ship_name, create_by, create_time, update_by, update_time from ffc_ship_company
    </sql>

    <select id="selectFfcShipCompanyList" parameterType="FfcShipCompany" resultMap="FfcShipCompanyResult">
        <include refid="selectFfcShipCompanyVo"/>
        <where>
            <if test="shipName != null  and shipName != ''"> and ship_name like concat('%', #{shipName}, '%')</if>
        </where>
    </select>

    <insert id="insertFfcShipCompany" parameterType="FfcShipCompany" useGeneratedKeys="true" keyProperty="id">
        insert into ffc_ship_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shipName != null">ship_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shipName != null">#{shipName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>


    <delete id="deleteFfcShipCompanyById" parameterType="Long">
        delete from ffc_ship_company where id = #{id}
    </delete>

    <delete id="deleteFfcShipCompanyByIds" parameterType="String">
        delete from ffc_ship_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>